# Jira
JIRA_BASE_URL="https://leoccustodio.atlassian.net/""
JIRA_EMAIL="leoccustodio@gmail.com"
JIRA_API_TOKEN="ATATT3xFfGF0J2Y8iVEzJAR9Ms6wpoSMCyfO-Ky-QLkE_doIkexV6uI5p3gSVsOmzhboVNAwokt4gDdK-0SDveP0Cm0jpJuVZPqKp1PJ8-oT-L4B9hSCqemP97GFsCXpWPMAuGuDo8UynFuzf1DByCCykB9u4yFEe5Nc74iSs0SbslfctDftdac=73EC3159"

#OpenAi
OPENAI_API_KEY="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"


# GitHub
GITHUB_OWNER="LeoCustodio"
GITHUB_REPO="mini-billing-solution"
GITHUB_TOKEN="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"
GIT_AUTHOR_NAME=JiraBot
GIT_AUTHOR_EMAIL=jirabot@company.com

# Local workdir
WORKDIR=./workdir
DEFAULT_BRANCH=main

# Runtime
TEST_COMMAND=pytest -q